/* применяем стили ко всем элементам на html-странице */
* {
    /* Свойства width или height включают в себя значения полей(padding) и границ, но не отступов (margin). 
    Например для border-box, чтобы div был фиксированной ширины при любых значениях padding и border,
    width = L_content + L_padding + L_border */
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: system-ui, Helvetica, Arial, sans-serif;
}

body {
    background-color: gainsboro;
    font-size: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
}

article {
    flex: 2 2 12em;
    padding: 1em;
}

nav, aside {
    flex: 1;
    background-color: lightgrey;
}

nav {
    order: -1;
}

header, footer {
    flex: 0 0 5em;
    background-color: silver;
}

@media screen and (min-width: 600px) {

    body{
        min-height: 100vh;
    }
    main {
        flex-direction: row;
        min-height: 100%;
        flex: 1 1 auto;
    }
}